@namespace bjorkvalle.app.Features.Recipes
@inject IRecipeService RecipeService

<Heading Size="HeadingSize.H3">RecipeList</Heading>

<ul class="menu bg-base-200 w-56 rounded-box">
    <Loop TItem="RecipeListItem" Items="Recipes" Context="item">
        <li><a href="@($"recipes/{item.Id}")">@item.Title</a></li>
        @*<li><Button Clicked="(() => Delete(item.Id))">@item.Title</Button></li>*@
    </Loop>
</ul>

@code {
    [Parameter]
    public List<RecipeDto> Items { get; set; }

    //private List<RecipeListItem> recipes;

    //protected override void OnInitialized()
    //{
    //    recipes = Items.Select(x => new RecipeListItem
    //        {
    //            Id = x.Id,
    //            Title = x.Title
    //        }).ToList();
    //}

    private async Task Delete(Guid recipeId)
    {
        await RecipeService.Delete(recipeId);
    }

    private List<RecipeListItem> Recipes => Items.Select(x => new RecipeListItem
        {
            Id = x.Id,
            Title = x.Title
        }).ToList();
}
