@namespace bjorkvalle.UI.Components
@inherits UIComponentBase

@if (!NoRender)
{
    <div @attributes="AdditionalAttributes" class="@ClassNames" @onclick="SetSelected">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter] TabContainer TabContainer { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public Size Size { get; set; }

    protected override void OnInitialized()
    {
        if (TabContainer == null)
            throw new ArgumentNullException(nameof(TabContainer), $"Tab must exist within a Tab Container (${nameof(TabContainer)})");
    }

    protected override void OnParametersSet()
    {
        classBuilder
            .Begin("tab")
            .AddClass("tab-", ClassProvider.TabType(TabContainer.Type), !TabContainer.Type.Equals(TabTypes.None))
            .AddClass("tab-", ClassProvider.SizeClass(Size), !Size.Equals(Size.Default))
            .AddClass("tab-", "active", IsActive);
    }

    private async Task SetSelected() => await TabContainer.SetSelected(Name);
    public bool IsActive => TabContainer.IsSelected(Name);
}