@namespace bjorkvalle.UI.Components
@inherits UIComponentBase

@if (!NoRender)
{
    <label @attributes="AdditionalAttributes" class="@ClassNames">
        <a href="@Href" class="label-text-alt">@ChildContent</a>
    </label>
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Href {get; set; }

    protected override void OnParametersSet()
    {
        classBuilder
            .Begin("label");
    }
}