.rich-preview {
}

.rich-preview img {
    max-width: 100%;
}

.rich-preview ::deep h1 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.1em;
}

.rich-preview ::deep h2 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1em;
    padding-top: .5rem;
    margin-bottom: 1.25rem;
}

.rich-preview ::deep p {
    margin-bottom: 1.25rem;
}

.rich-preview ::deep a {
    text-decoration-line: underline;
}

.rich-preview ::deep .ql-size-small {
    font-size: 0.75em;
}

.rich-preview ::deep li:not(:last-child) {
    margin-bottom: 5px;
}

/*.rich-preview ::deep ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
}
*/
.rich-preview ::deep ol {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.rich-preview ::deep ol,
.rich-preview ::deep ul {
  padding-left: .5em;
  margin-bottom: 1.25rem;
}
.rich-preview ::deep ol > li,
.rich-preview ::deep ul > li {
  list-style-type: none;
}
.rich-preview ::deep ul > li::before {
  content: '\2022';
}
.rich-preview ::deep ul[data-checked=true],
.rich-preview ::deep ul[data-checked=false] {
  pointer-events: none;
}
.rich-preview ::deep ul[data-checked=true] > li *,
.rich-preview ::deep ul[data-checked=false] > li * {
  pointer-events: all;
}
.rich-preview ::deep ul[data-checked=true] > li::before,
.rich-preview ::deep ul[data-checked=false] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
.rich-preview ::deep ul[data-checked=true] > li::before {
  content: '\2611';
}
.rich-preview ::deep ul[data-checked=false] > li::before {
  content: '\2610';
}
.rich-preview ::deep li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.rich-preview ::deep li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.rich-preview ::deep li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}
.rich-preview ::deep ol li:not(.ql-direction-rtl),
.rich-preview ::deep ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.rich-preview ::deep ol li.ql-direction-rtl,
.rich-preview ::deep ul li.ql-direction-rtl {
  padding-right: 1.5em;
}
.rich-preview ::deep ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}
.rich-preview ::deep ol li:before {
  content: counter(list-0, decimal) '. ';
}
.rich-preview ::deep ol li.ql-indent-1 {
  counter-increment: list-1;
}
.rich-preview ::deep ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) '. ';
}
.rich-preview ::deep ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-2 {
  counter-increment: list-2;
}
.rich-preview ::deep ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) '. ';
}
.rich-preview ::deep ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-3 {
  counter-increment: list-3;
}
.rich-preview ::deep ol li.ql-indent-3:before {
  content: counter(list-3, decimal) '. ';
}
.rich-preview ::deep ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-4 {
  counter-increment: list-4;
}
.rich-preview ::deep ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) '. ';
}
.rich-preview ::deep ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-5 {
  counter-increment: list-5;
}
.rich-preview ::deep ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) '. ';
}
.rich-preview ::deep ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-6 {
  counter-increment: list-6;
}
.rich-preview ::deep ol li.ql-indent-6:before {
  content: counter(list-6, decimal) '. ';
}
.rich-preview ::deep ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-7 {
  counter-increment: list-7;
}
.rich-preview ::deep ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) '. ';
}
.rich-preview ::deep ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
.rich-preview ::deep ol li.ql-indent-8 {
  counter-increment: list-8;
}
.rich-preview ::deep ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) '. ';
}
.rich-preview ::deep ol li.ql-indent-8 {
  counter-reset: list-9;
}
.rich-preview ::deep ol li.ql-indent-9 {
  counter-increment: list-9;
}
.rich-preview ::deep ol li.ql-indent-9:before {
  content: counter(list-9, decimal) '. ';
}

.rich-preview ::deep .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.rich-preview ::deep li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.rich-preview ::deep .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.rich-preview ::deep li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.rich-preview ::deep .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.rich-preview ::deep li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.rich-preview ::deep .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.rich-preview ::deep li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.rich-preview ::deep .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.rich-preview ::deep li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.rich-preview ::deep .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.rich-preview ::deep li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.rich-preview ::deep .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.rich-preview ::deep li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.rich-preview ::deep .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.rich-preview ::deep li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.rich-preview ::deep .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.rich-preview ::deep li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.rich-preview ::deep .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.rich-preview ::deep li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.rich-preview ::deep .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.rich-preview ::deep li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.rich-preview ::deep .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.rich-preview ::deep li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.rich-preview ::deep .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.rich-preview ::deep li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.rich-preview ::deep .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.rich-preview ::deep li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.rich-preview ::deep .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.rich-preview ::deep li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.rich-preview ::deep .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.rich-preview ::deep li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.rich-preview ::deep .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.rich-preview ::deep li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.rich-preview ::deep .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.rich-preview ::deep li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
