@namespace bjorkvalle.app.Features.Recipes

<div class="w-full p-4 bg-black">
    <div class="w-full p-6 bg-base-100 rounded">
        <Heading Size="HeadingSize.H1" class="text-base-content">@Recipe.Title</Heading>
        <Badge Color="Color.Ghost">
            Veganskt
        </Badge>
        <Badge Color="Color.Ghost">
            Hög protein
        </Badge>
        <div class="mt-6">
            <div class="rich-preview">
                @(
                    (MarkupString)Recipe.Html
                    )
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RecipeDto Recipe { get; set; }
}
