@namespace bjorkvalle.UI.Utilities

<div class="
    w-full
    hidden
    input-ghost input-xs input-sm input-md input-lg
    btn btn-outline btn-active btn-disabled loading btn-lg btn-md btn-sm btn-xs btn-wide btn-block btn-circle btn-square btn-primary btn-secondary btn-accent btn-info btn-ghost btn-link btn-success btn-warning btn-error
    tooltip tooltip-top tooltip-bottom tooltip-left tooltip-right tooltip-open tooltip-primary tooltip-secondary tooltip-accent tooltip-info tooltip-success tooltip-warning tooltip-error
    tab-xs tab-sm tab-md tab-lg tab-lifted tab-bordered
    badge badge-xs badge-sm badge-md badge-lg badge-primary badge-secondary badge-accent badge-ghost badge-info badge-success badge-warning badge-error badge-outline
    checkbox checkbox-xs checkbox-sm checkbox-md checkbox-lg checkbox-primary checkbox-secondary checkbox-accent
    text-left text-right text-center
    text-neutral text-primary text-secondary text-accent text-info text-success text-warning text-error
    stroke-error
    font-extrabold font-bold
    text-xl md:text-3xl text-lg md:text-2xl md:text-lg text-base text-sm md:text-base text-xs
    mb-4 mb-3 mb-2 mb-1 mb-0.5
    cursor-pointer
    card card-body card-title card-actions card-side compact
    bordered
    justify-start justify-end justify-center justify-between justify-around justify-evenly
    alert alert-info alert-success alert-warning alert-error
    shadow-lg
    hover
    select-primary select-secondary select-accent select-ghost select-info select-success select-warning select-error select-lg select-md select-sm select-xs
    list-disc list-decimal
    modal modal-action modal-box modal-bottom sm:modal-middle
    link link-primary link-secondary link-accent link-hover
    peer-checked:py-1
    w-1/4 w-2/4 w-3/4 md:w-1/4 md:w-2/4 md:w-3/4
    md:mt-5 
    md:h-auto
    file-input file-input-xs file-input-sm file-input-md file-input-lg file-input-primary file-input-secondary file-input-accent file-input-ghost file-input-info file-input-success file-input-warning file-input-error file-input-bordered
    divider divider-horizontal
    bottom-full
"></div>
