@page "/recipes/{id:guid}"
@inject IRecipeService RecipeService
@using bjorkvalle.app.Features.Recipes

@if(isLoading)
{
    <Loading IsLoading="isLoading" />
}
else
{
    @if (!string.IsNullOrEmpty(recipe.Html))
    {
        <RecipeCard Recipe="recipe" />
    }
    else
    {
        <Heading Size="HeadingSize.H1">@recipe.Title</Heading>
        <Alert Type="AlertTypes.Info">No HTML saved.</Alert>
        <a href="/" class="btn btn-secondary">Back</a>
        <a href="@($"recipes/edit/{recipe.Id}")" class="btn btn-primary">Edit</a>
    }
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private RecipeDto recipe = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        recipe = await RecipeService.GetById(Id);
        isLoading = false;
    }
}