@namespace bjorkvalle.UI.Components
@inherits UIComponentBase

@if (!NoRender)
{
    if (IsDisabled)
    {
        @ChildContent
    }
    else
    {
        <div data-tip="@Text" class="@ClassNames" @attributes="AdditionalAttributes">
            @ChildContent
        </div>
    }
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public Color Color { get; set; }
    [Parameter] public Position Position { get; set; } = Position.Top;
    [Parameter] public bool IsOpen { get; set; }

    protected override void OnParametersSet()
    {
        classBuilder
            .Begin("tooltip")
            .AddClass("tooltip-", ClassProvider.PositionClass(Position), !Position.Equals(Position.Top))
            .AddClass("tooltip-", ClassProvider.ColorClass(Color), !Color.Equals(Color.None))
            .AddClass("tooltip-open", condition: IsOpen);
    }
}
