@namespace bjorkvalle.UI.Components
@inherits UIComponentBase

@if (!NoRender)
{
    @if(isOpen)
    {
        <CascadingValue Value="this">
            <div @attributes="AdditionalAttributes" class="@ClassNames">
                @ChildContent
            </div>
        </CascadingValue>
    }
}

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment ActionContent { get; set; }
    [Parameter] public ModalSize Size { get; set; }
    [Parameter] public bool IsLoading { get; set; }

    private bool isOpen;

    public void Toggle() => isOpen = !isOpen;
    public void Show() => isOpen = true;
    public void Close() => isOpen = false;

    protected override void OnParametersSet()
    {
        classBuilder
            .Begin("modal")
            .AddClass("modal-open", isOpen);
    }
}
