@namespace bjorkvalle.UI.Components
@inherits LayoutComponentBase

<main class="container mx-auto p-6">
    @Body
</main>

@code {
    private bool isChecked;

    private void HandleNavigation()
    {
        isChecked = false;
    }
}