@namespace bjorkvalle.UI.Components

<ul class="menu w-80 h-screen flex-nowrap overflow-y-auto bg-base-200">
    <li><Heading Size="HeadingSize.H3">Hur hungriga är du/ni?</Heading></li>
    <li><a href="recipe-form"><strong>🤘 Ska inte äta, jag vill skaaapa!</strong></a></li>
    <li>
        <details open>
            <summary>👀 Inte jättehungrig</summary>
            <ul>
                <li><a>Veganskt</a></li>
                <li><a>Vegetariskt</a></li>
                <li><a>Fisk</a></li>
                <li>
                    <details>
                        <summary>Kött</summary>
                        <ul>
                            <li><a>Kyckling</a></li>
                            <li><a>Fläsk</a></li>
                            <li><a>Nöt</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>👅 Vrålhungrig</summary>
            <ul>
                <li><a>Veganskt</a></li>
                <li><a>Vegetariskt</a></li>
                <li><a>Fisk</a></li>
                <li>
                    <details>
                        <summary>Kött</summary>
                        <ul>
                            <li><a>Kyckling</a></li>
                            <li><a>Fläsk</a></li>
                            <li><a>Nöt</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>
    <li><a>🍞 Bröd</a></li>
    <li>
        <a href="config">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M7.84 1.804A1 1 0 018.82 1h2.36a1 1 0 01.98.804l.331 1.652a6.993 6.993 0 011.929 1.115l1.598-.54a1 1 0 011.186.447l1.18 2.044a1 1 0 01-.205 1.251l-1.267 1.113a7.047 7.047 0 010 2.228l1.267 1.113a1 1 0 01.206 1.25l-1.18 2.045a1 1 0 01-1.187.447l-1.598-.54a6.993 6.993 0 01-1.929 1.115l-.33 1.652a1 1 0 01-.98.804H8.82a1 1 0 01-.98-.804l-.331-1.652a6.993 6.993 0 01-1.929-1.115l-1.598.54a1 1 0 01-1.186-.447l-1.18-2.044a1 1 0 01.205-1.251l1.267-1.114a7.05 7.05 0 010-2.227L1.821 7.773a1 1 0 01-.206-1.25l1.18-2.045a1 1 0 011.187-.447l1.598.54A6.993 6.993 0 017.51 3.456l.33-1.652zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
            </svg>
            Config
        </a>
    </li>
</ul>

@code {

}
